   <div class="col-md-6 offset-md-3 border p-3">
    <h3>Create Employee</h3>
    <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
  
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="firstName">
        <small class="text-danger" *ngIf="isFieldInvalid('firstName')">First Name is required</small>
      </div>
  
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastName">
        <small class="text-danger" *ngIf="isFieldInvalid('lastName')">Last Name is required</small>
      </div>
  
      <div class="form-group">
        <label>Email Id</label>
        <input type="text" class="form-control" formControlName="emailId">
        <small class="text-danger" *ngIf="isFieldInvalid('emailId')">
          Email is required and should be a valid email address
        </small>
      </div>
  
      <button class="btn btn-success mt-3" type="submit">Submit</button>
  
    </form>
  </div>
  